.content{
    display: none;
}

.activeButton1{
    background-color : #0d6efd;
    color: white;
}

.activeButton2{
    background-color : #dc3546;
    color: white;
}

.activeButton3{
    background-color : #188754;
    color: white;
}